@import url('https://fonts.google.com/share?selection.family=Red+Hat+Display:ital,wght@0,300..900;1,300..900');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Orbitron", "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  @keyframes sweep {
    0% {
      background-position: -200% center;
    }

    100% {
      background-position: 200% center;
    }
  }

  .text-shine {
    background: linear-gradient(110deg,
        rgba(255, 255, 255, 0.4) 40%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.4) 60%);
    background-size: 500% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: sweep 20s linear infinite;
  }
}